/*header 영역*/
header .h_center {width: 1280px; margin: 0 auto;}
header .h_top {height: 50px; background-color:#525150;}
header .h_topThree .threeBx {width:150px; height: 100%; line-height: 50px; text-align: center;}
header .h_topThree .threeBx a {width: 100%; height: 100%;}
header .h_topThree .threeBx img {margin-left: 10px;}
header .h_topThree .threeBx:nth-child(1) {background-color: #fff;}
header .h_topThree .threeBx:nth-child(2) {background-color:#920800; color: #fff;}
header .h_topThree .threeBx:nth-child(3) {background-color:#444C61; color: #fff;}

header .h_bot h1 > a {display:block; width: 100%; margin-top: 10px;}
header .nav {height: 80px;}
header .nav > li {position: relative; height: 100%;}
header .nav > li > a {display: block; margin: 0 20px; line-height: 80px; height: 100%; font-size: 1.25rem; font-weight: 600;}
header .nav  .depth2 {display: none; position: absolute; top: 70px; left: 50%; transform: translateX(-50%); width: 200px; z-index: 30;}
header .nav  .depth2 > li:not(:last-child) {border-bottom:1px solid #e1e1e1;}
header .nav  .depth2 > li > a {display: block; text-align: center; /*font-size: 1.125rem;*/font-size: 1.0625rem; width: 100%; line-height: 48px; transform:all 1.3s; background-color:#f8f8f8;}
header .nav  .depth2 > li > a:hover {background-color: #ddd;}

header .h_searchBox {position: relative;}
header .h_searchBox > span {margin-right: 30px; color: #fff;}
header .h_searchBox .searchBtn {position: relative; width: 50px; height: 50px;}
header .h_searchBox .searchBtn a {position: absolute; top:0; left: 0; width: 50px; height: 50px;}
header .h_searchBox .searchBtn a.search_s {background-color:#920800;}
header .h_searchBox .searchBtn a.close_s {display: none; background-color:#fff; text-align: center;}
header .h_searchBox .searchBtn a.close_s .lnr-cross {font-size: 1.375rem; line-height: 50px; text-align: center; color: #525150;}
header .h_searchBox .searchTab {display: none; position: absolute; top:50px; right:0; width: 320px; height: 128px; background-color: rgb(82,81,80,0.9); z-index:99;}
header .h_searchBox .searchTab .s_tit {margin: 15px 0 20px 20px; font-weight:600; font-size: 1.5rem; color: #fff;}
header .h_searchBox .searchTab .input_wrap input {padding-left: 10px; width: 235px; height: 40px; box-sizing: border-box;}
header .h_searchBox .searchTab button {width: 45px; height: 40px; vertical-align: middle; text-align: center; background-color:#920800; border:none; cursor:pointer;}
header .h_bot .menuBtn a {position: relative; display: block; top: 30px; width: 26px; height: 16px;}
header .h_bot .menuBtn a div {position: absolute; left: 0; width: 100%; height: 2px; border-radius: 2px; background-color:#000;}
header .h_bot .menuBtn a div:nth-child(1) {top:0;}
header .h_bot .menuBtn a div:nth-child(2) {top: 50%; transform: translateY(-50%);}
header .h_bot .menuBtn a div:nth-child(3) {bottom:0;}

header .m-navWrap {display: none;}

.header .m-btn {display: none;}

.wholeWrap {display: none; position: fixed; top:0; left: 0; width: 100vw; height: 100vh; background-color: rgb(0,0,0,0.5); z-index: 99;}
.wholeWrap .wholeMenu {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-sizing: border-box; width: 1200px; height: 840px; background-color: #fff;}
.wholeWrap .wholeMenu .closeBtn {position: absolute; right: 35px; top: 30px;}
.wholeWrap .wholeMenu .w_bg {position: absolute; bottom:0; right: 0;}
.wholeWrap .wholeMenu .whole_tit {height: 90px; text-align: center; line-height: 90px; border: 1px solid #E1E1E1; font-size: 2.25rem; font-weight: 500; color: #222;}
.wholeWrap .wholeMenu .menuWrap {padding: 30px 10px 0;}
.menuWrap .menu {margin:0 10px 52px;}
.menuWrap .menu .menu_tit {margin:10px 0 0 10px; font-size: 1.25rem; color: #222; font-weight: 600;}
.menuWrap .menu > ul {margin:12px 0 0 10px;}
.menuWrap .menu > ul > li {margin-bottom: 5px;}
.menuWrap .menu > ul > li > a {color: #666;}

.fixed_sideBar {position: fixed; top:0; right: -280px; padding: 60px 20px 0; box-sizing: border-box; width: 280px; height: 100vh; background-color:#33353B; z-index: 99;}
.fixed_sideBar .sidebar_tit {font-size: 1.25rem; color: #fff; font-weight: 600;}
.fixed_sideBar .sidebar_tit.nth1 {margin-bottom: 24px;}
.fixed_sideBar .input_wrap input {padding-left: 18px; width: 190px; height: 50px; box-sizing: border-box;}
.fixed_sideBar .input_wrap button {width: 50px; height: 50px; border:none; background-color:#920800;}

.fixed_sideBar .sidebar_tit.nth2 {margin-top: 50px; padding-bottom: 16px; border-bottom: 1px solid #fff;}
.fixed_sideBar .first_sideMenu {margin:26px 0 12px 0; padding: 20px 18px; box-sizing: border-box; width: 240px; height: 120px; background-size: cover; background-position: center center; background-repeat:no-repeat; background-image:url('../images/bnr_bg.png'); display:block;}
.fixed_sideBar .first_sideMenu .first_tit {color: #fff; font-size: 1.125rem; line-height: 24px;}
.fixed_sideBar .sideMenu {position: relative; margin-bottom: 12px; padding: 0 18px; width: 100%; height: 50px; box-sizing: border-box; background-color: #fff;}
.fixed_sideBar .sideMenu .hoverBx {position: absolute; top:0; left: 0; width: 0; height: 100%; background-color: #9a9587; transition: all 0.3s;}
.fixed_sideBar .sideMenu:hover .hoverBx {width: 100%;}
.fixed_sideBar .sideMenu:hover > a > span {color: #fff;}
.fixed_sideBar .sideMenu > a {position: relative; width: 100%; height: 100%;}
.fixed_sideBar .openClose {position: absolute; top:0; left: -60px; height: 100vh; width: 60px; cursor:pointer;}
.fixed_sideBar .openClose .side_closeBtn {display: none; position: absolute; left:0; top:50%; transform: translateY(-50%); width: 60px; height: 60px; background-color: #920800;}
.fixed_sideBar .openClose .side_openBtn { position: absolute; left:0; top:50%; transform: translateY(-50%);  width: 60px; height: 240px; z-index: 99; cursor:pointer;}
.fixed_sideBar .openClose .side_openBtn .s_open_up {height: 180px; background-color: #33353B;}
.fixed_sideBar .openClose .side_openBtn .s_open_up span {display: block; width: 170px; height: 130px; transform: matrix(0, -1, 1, 0, 0, 0); font-size: 1.25rem; color: #fff; font-weight: 600;}
.fixed_sideBar .openClose .side_openBtn .s_open_down {width: 60px; height: 60px; background-color: #920800;}
/*header 영역*/


/*container 영역*/
.c_center {width: 1280px; margin: 0 auto;}
.firstBnr {position: relative; top: -90px; width: 100%;}
.firstBnr .aboutFourBox .fourBox {position: relative; opacity:0; padding: 24px 0; box-sizing: border-box; width: 320px; /*height: 180px;*/ text-align: center;}
.firstBnr .aboutFourBox .fourBox:nth-child(1) {background-color: #920800; top: 30px;}
.firstBnr .aboutFourBox .fourBox:nth-child(2) {background-color: #9A9587; top: 50px;}
.firstBnr .aboutFourBox .fourBox:nth-child(3) {background-color: #717982; top: 70px;}
.firstBnr .aboutFourBox .fourBox:nth-child(4) {background-color: #444C61; top: 90px;}
.firstBnr .aboutFourBox .fourBox .tit {margin-bottom: 12px; color: #fff; font-size: 1.5rem; font-weight: 600;}
.firstBnr .aboutFourBox .fourBox .detail {margin-top: 15px; color: #fff; font-weight: 600; font-size: 1.5rem;}
.firstBnr .aboutFourBox .fourBox .detail > span {margin-right: 10px; font-size: 2rem;}
.firstBnr .c_center > span {display: block; margin-top: 15px; text-align: right;}

.cont01 {margin-bottom: 100px;}
.cont01 .tabBtnWrap {margin-bottom: 32px;}
.cont01 .tabBtnWrap .tabBtn {margin-right: 40px; font-weight: 600; font-size: 1.5rem; cursor:pointer;}
.cont01 .tabBtnWrap .tabBtn.on {color:#920800;}
.cont01 .tabCont {display: none;}
.cont01 .tabCont:nth-child(1) {display: block;}
.cont01 .tabCont .contBox {position: relative; margin-bottom: 20px; padding: 20px; width: 414px; height: 200px; border: 1px solid #E1E1E1; box-sizing: border-box; transition: all 0.3s;}
.cont01 .tabCont .contBox:hover {border:1px solid #920800;}
.cont01 .tabCont .contBox .titBox {width: 80px; height: 30px; line-height: 30px; color:#fff; text-align: center;}
.cont01 .tabCont .contBox .titBox.gry {background-color: #5B6378;}
.cont01 .tabCont .contBox .titBox.brwn {background-color: #605855;}
.cont01 .tabCont .contBox .titBox.blue {background-color: #5A75CD;}
.cont01 .tabCont .contBox .titBox.grn {background-color: #67BB44;}
.cont01 .tabCont .contBox .titBox.sky {background-color: #44ABBB;}

.cont01 .tabCont .contBox > p {
	margin-top: 20px; 
	font-size: 1.125rem; 
	line-height: 28px; 
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  }
.cont01 .tabCont .contBox .dateWrap {position: absolute; bottom: 20px; left: 20px;}
.cont01 .tabCont .contBox .dateWrap span {margin-right: 20px; color:#666666; font-size: 0.875rem;}



.cont02 {padding: 100px; 0; box-sizing: border-box; width: 100%; height: 715px; background-image:url('../images/pt_bg.png'); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
.cont02 .cont_tit {margin-bottom: 60px; font-weight: 600; font-size: 2.375rem; text-align: center; }
.cont02 .workWrap .seeWork {margin-bottom: 10px; box-sizing: border-box; width: 420px; height: 200px; background-color: #fff;}
.cont02 .workWrap .seeWork:hover {border:1px solid #920800;}
.cont02 .workWrap .seeWork > a {position: relative; display: block; padding: 24px 32px; box-sizing: border-box;  width: 100%; height: 100%;}
.cont02 .workWrap .seeWork.bigger {background-image:url('../images/bnr_bg.png'); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
.cont02 .workWrap .seeWork.bigger .tit_Box h4 {margin-bottom:0; color: #fff; font-size: 2.375rem; font-weight: 600;}
.cont02 .workWrap .seeWork.bigger .tit_Box p {color: #fff; font-size: 1.5rem; font-weight: 600;}
.cont02 .workWrap .seeWork .tit_Box h4 {margin-bottom: 20px; font-size: 1.5rem; font-weight: 600;}
.cont02 .workWrap .seeWork .tit_Box p {font-size: 1.125rem;}
.cont02 .workWrap .seeWork .goArrow {position: absolute; left: 24px; bottom: 32px;}
.cont02 .workWrap .seeWork .workIcon {position: absolute; right: 24px; bottom: 32px;}


.cont03 {padding: 30px 0;}
.cont03 .location {margin-top: 10px;}
.cont03 .location .prevBtn, .cont03 .location .nextBtn {cursor:pointer;}
.cont03 .bannerSlick {width: 1081px;}
/*container 영역*/



/*footer 영역*/
footer {padding: 55px 0; background-color:#212121;}
footer .f_center {margin: 0 auto; width: 1280px;}
footer .f_center .f_top {padding: 20px 0; border-top:1px solid rgba(255,255,255,.2); border-bottom:1px solid rgba(255,255,255,.2);}
footer .f_center .f_top .f_nav {margin-left: 60px;}
footer .f_center .f_top .f_nav li::after {content:"/"; display: inline-block; color: #fff; margin: 0 10px;}
footer .f_center .f_top .f_nav li a {display: inline-block; color: #fff;}
footer .f_center .f_top .f_nav li:last-child::after {display: none; margin: 0;}
footer .f_center .f_bot {position:relative; padding: 30px 0;}
footer .f_center .f_bot .f_bot_txt .f_adr {margin-bottom: 10px;}
footer .f_center .f_bot .f_bot_txt .f_adr span {color: #ddd; font-size: 0.875rem; transform: skew(0.03deg);}
footer .f_center .f_bot .f_bot_txt .f_adr  span::after {content:"/"; display: inline-block; color: #ddd; margin: 0 10px;}
footer .f_center .f_bot .f_bot_txt .f_adr  span:last-child::after { display: none; margin: 0;}
footer .f_center .f_bot .f_bot_txt .copyright {font-size: 0.813rem; color: #909090;}
footer .f_center .f_bot .familySite {
	position: absolute; 
	right: 0;     
	width: 200px;
    text-align: left;
}
footer .f_center .f_bot .familySite .family-site-open-btn {
	display:block; 
	height:55px; 
	line-height:55px; 
	text-indent:10px; 
	font-size:0.875rem; 
	transform: skew(0.03deg);
	font-weight: 600;
	border-bottom:2px solid #920800; 
	color:#fff; 
	cursor:pointer;
}
footer .f_center .f_bot .familySite .family-site-open-btn img	{
	position:absolute; 
	right:10px; 
	top:50%; 
	margin-top:-3px;
}
.family-site-list {display:none; position:absolute; bottom:57px; left:0px; width:100%;  padding:10px 0; background-color:#fff; border:1px solid #ddd; border-bottom:0;  z-index:11; box-sizing:border-box;}
.family-site-list a{display:block; padding:10px; color:#333; font-size:0.875rem; transform: skew(0.03deg);}
.family-site-list a:hover{color:#000; text-decoration:underline;}
/*footer 영역*/


@media screen and (max-width:1280px){
	header .h_center {width: 96%;}
	footer .f_center {width: 96%;}

	header {position: relative;}
	header .h_top {display: none;}
	header .h_bot {height: 70px;}
	header .nav {display: none;}
	header .nav .menuBtn {display: none;}
	.fixed_sideBar .openClose {display: none;}
	header .menuBtn {display: none;}
	header .h_bot .logo {margin-top: 5px;}
	header .h_bot .logo img {height: 40px;}

	.header .m-btn {display:block; position: absolute; right:20px; top: 50%; transform:translateY(-50%); width: 30px; height: 27px; margin-left: 40px; background-color:transparent; border: none; font-size: 0; vertical-align: middle; text-indent: -9999px; cursor:pointer;}
	.header .m-btn .bar_top,
	.header .m-btn .bar_mid,
	.header .m-btn .bar_bot {display: block; position: absolute; right: 2px; width: 32px; height: 2px; background-color: #000; transform-origin: top right; transition: background-color .3s ease-in-out;}
	.header .m-btn .bar_top {top: 2px;}
	.header .m-btn .bar_mid {top: 50%; transform: translate(0, -50%);}
	.header .m-btn .bar_bot {bottom: 2px;}

	header .m-navWrap {display:block; position:fixed; right:0; top:0; width:0; overflow:hidden; height: 100%; z-index:99;}
	
	.m-navWrap .bBg {display:none; background-color: rgba(0,0,0,0.3); width: 100%; height: 100%; position:absolute; z-index: 99; }
	
	.m-navWrap .m-navbox {position: absolute;  right: -100%; top:0; width: 80%; height: 100%; background-color: #525150; z-index: 999; transition:all 0.5s;}
   	.m-navWrap .m-navbox.on {right: 0;}

	.m-navWrap .m-navbox .mn-top {position: relative; height: 70px; /*background-color: #c1c1c1;*/}
    .m-navWrap .m-navbox .mn-top .closeBtn {position: absolute; top: 50%; transform:translateY(-50%); right: 20px; width: 30px; height: 30px;}
    .m-navWrap .m-navbox .mn-top .closeBtn a {display: block; width: 100%; height: 100%;}
    .m-navWrap .m-navbox .mn-top .closeBtn .lnr-cross {font-size: 35px; color: #fff;}

    .m-navWrap .m-navbox .m-nav > li {position: relative;}
    .m-navWrap .m-navbox .m-nav > li > a {display: block; height: 50px; line-height: 50px; color: /*#383c46*/#fff; border-bottom: 1px solid rgba(255,255,255,.2); text-indent: 20px; font-size:1rem; font-weight: 500;}
    .m-navWrap .m-navbox .m-nav > li .lnr {display: none; position: absolute; top: 19px; right: 24px; font-size: 1rem; color: #fff;}
    .m-navWrap .m-navbox .m-nav > li .lnr-chevron-down {display: block;}
    .m-navWrap .m-navbox .m-nav > li.on .lnr-chevron-down {display: none;}
    .m-navWrap .m-navbox .m-nav > li.on .lnr-chevron-up {display: block;}

    .m-navWrap .m-navbox .m-nav .m-depth2 {display: none; padding: 0 0 0 24px; /*background-color: #f5f5f5;*/}
	.m-navWrap .m-navbox .m-nav .m-depth2 > li {position:relative;}
	.m-navWrap .m-navbox .m-nav .m-depth2 > li:before {content:""; display:block; width:4px; height:1px; background:#fff; position:absolute; top:50%;}
    .m-navWrap .m-navbox .m-nav .m-depth2 > li > a {display: block; height: 40px; line-height: 40px; font-size: 0.875rem; text-indent: 20px; color: /*#383c46*/#fff; transform: skew(0.03deg);}
	header .goBtnWrap .threeBx {height: 50px; width: 50%; background-color: #fff;}
	header .goBtnWrap .threeBx a {height: 100%;}
	header .goBtnWrap .threeBx a img {margin: 0 10px; }

	header .goBtnWrap .threeBx:nth-child(1) {background-color: #920800;}
	header .goBtnWrap .threeBx:nth-child(2) {background-color:#444C61;}

}

@media screen and (max-width:1032px){ 
	footer {padding: 15px 0;}
	footer .f_center .f_top {display: block; border-top: none;}
	footer .f_center .f_top .f_logo {margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;}
	footer .f_center .f_top .f_logo img {height: 35px;}
	footer .f_center .f_top .f_nav {margin-left: 0; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;}
	footer .f_center .f_top .f_nav li {text-align: center;}
	footer .f_center .f_top .f_nav li a {font-size: 1.125rem;}
	footer .f_center .f_bot .familySite {display: none;}
	footer .f_center .f_bot .f_bot_txt .f_adr span {font-size: 1.125rem; line-height: 1.5;}
	footer .f_center .f_bot .f_bot_txt .f_adr > span {margin-bottom: 5px; display: block;}
	footer .f_center .f_bot .f_bot_txt .f_adr > span::after {display: none; margin:0;}
	footer .f_center .f_bot .f_bot_txt .copyright {font-size: 1.125rem;}
}



@media screen and (max-width:768px){
	.fixed_sideBar .openClose {display:none;} /*우측 퀵메뉴 제외*/
}